body{
  background-color: black;
}

ul{
  list-style-type: none;
}

li{
  color: white;
  font-size: 30px;
}

div{
  width: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

a{
  color: white;
}

.button{
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
}
.button:hover{
  background-color: white;
  color: black;
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 0;
  user-select: none;
}

@media screen and (max-width:600px) {
  div{
    width: 90%;
    left: 38%;
  }
  li{
    font-size: 25px;
  }
}
