body{
  background-color: black;
}

h1{
  text-align:center;
  position:absolute;
  top:50%;
  left:0;
  right:0;
  font-size:100px;
  margin-top:-50px;
  color: white;
  user-select: none;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  user-select: none;
}
li a{
  display: block;
  padding: 10px 15px;
  margin: 0 2px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
}
li a:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width:600px) {
  h1{
    font-size: 80px;
  }
}
