body{
  background-color: black;
}

.button{
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
}
.button:hover{
  background-color: white;
  color: black;
}
